:root {
  --principal: #8257e6;
  --terciaria: #d9ccf0;
  --botao: #6b45c5; 
  --bg: #f4f4f4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  font-family: Arial, sans-serif;
}

header h1 {
  text-align: center;
  color: var(--principal);
  margin-top: 30px;
}

/* Formulário de vendas */
#form-section {
  margin-top: 35px;
}

#venda-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  gap: 20px;
  justify-content: center;
  border: 1px solid var(--botao);
  border-radius: 10px;
  background: var(--terciaria);
  padding: 13px;
}

.coluna{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.coluna label{
  color: var(--principal);
}

.coluna input {
  width: 250px;
  height: 30px;
  border-radius: 8px;
  padding: 5px;
  border: 1px solid var(--principal);
  color: var(--principal);
}

fieldset {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 550px;
  height: 250px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid var(--botao);
  color: var(--botao);
  background: var(--terciaria);
}

.itens-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.coluna-itens {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.item label {
  padding: 10px;
  white-space: nowrap;
}

select {
  height: 30px;
  border-radius: 8px;
  margin-right: 10px;
  text-align: center;
  background: var(--botao);
  color: white;
  border: none;
}

fieldset input {
  height: 30px;
  width: 65px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  color: var(--principal);
}

fieldset input::placeholder {
  color: var(--principal);
}

.pagamento-container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 40px;
  border-radius: 10px;
}

.coluna-pagamento {
  margin-bottom: 50px;
}

.coluna-pagamento select {
  height: 30px;
  border-radius: 8px;
  background: var(--botao);
  color: white;
  border: none;
  padding: 0 10px;
}

.botao-pagamento {
  color: white;
  background: var(--botao);
  border-radius: 10px;
  border: none;
  height: 30px;
  width: 90px;
  cursor: pointer;
}

.botao-pagamento:hover {
  background: #5a32a3;
}

/* Remove contorno azul ao clicar nos campos */
input:focus,
select:focus {
  outline: none;
  border: 1px solid var(--botao);
  box-shadow: 0 0 5px var(--botao);
}

footer {
  text-align: center;
  background: var(--bg);
  color: var(--principal);
  padding: 30px;
  border-top: 1px solid var(--botao);
}
